@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    /* background-color: #e9ebee !important; */
    background-image: url(../src/assets/Images/Background.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed !important;
}

:root {
    --white: white;
    --yellow: #ffe65e;
    --backGroundLight: #d2dff7;
    --black: black
}

html {
    --antd-wave-shadow-color: none !important;
}

/* Home Section */


.home_main {
    padding-top: 10px;
}

.main_home_header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.logout_button {
    align-items: center;
    text-align: center;
    padding-top: 30px;
    /* margin-left: 300px; */
}

.Swapnil_heading_div {
    /* width: 70%; */
}

.Swapnil_heading_div>h1 {
    font-size: 50px;
    color: var(--white);
    /* margin-left: 200px; */


}

.home_logo {
    /* width: 20%; */
    text-align: center;
}

.home_logo>img {
    width: 150px;
}

.Home_cards_section {
    width: 100%;
    margin-top: 0px;
}

.cards_section_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px auto;
}

.Home_card {
    background-color: var(--yellow) !important;
    /* width: 330px; */
    /* height: 220px; */
    /* width: 25%; */
    width: 28%;
    cursor: pointer;
    height: 165;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.Home_card>h1 {
    text-align: center;
}

.inner_home_card_section {
    background-color: var(--backGroundLight);
    height: 165px;
    border-radius: 5px;
    margin: 1px 3px;
    text-align: justify !important;


}

.weather_data {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.cloud>img {
    width: 90px;
}

.spin_div {
    margin: auto;
    text-align: center;
    padding-top: 34px;
}

.spin_div>.icon-style {
    font-size: 60px;
}

.cloud_data>span {
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-align: center;
}

.cloud_city_heading {
    text-align: center;
}


.news_heading {
    text-align: center;
    font-weight: bold;
}

.cards_data {

    font-weight: bold;
    padding: 18px;


}

.task_card {
    margin: 1px 3px;
    background-color: var(--backGroundLight);
    height: 165px;
    border-radius: 5px;
    text-align: justify !important;
    padding: 10px;


    /* margin: 1px 3px; */
    /* text-align: justify !important; */
}

.cards_data>p {

    margin-top: -70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3.2em;
}


.news_heading>h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 110px;
    width: 200px;
    margin: 0px auto;
}

.photos_inner_section {
    padding: 10px 5px 27px 5px;

}

/* .photos_section {
    display: flex;
    justify-content: center;
} */
.photos_inner_section {
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.photos_inner_section {
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.photos_box_section_one {
    margin-bottom: 10px;
}

.apexcharts-legend .apexcharts-align-center .apx-legend-position-right {
    display: none !important;
}

.photos_box {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.photos_box>img {
    width: 85px;
    height: 67px;
}

.photos_box>img {
    width: 65px;
    height: 65px;
}

.task_section {
    margin-top: -10px;
}

.task_border {
    border-bottom: 2px solid black;
    width: 200px;
    /* text-align: left; */
    font-size: 15px;
    margin: 0px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3.2em;
}

.task_data {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px !important;
}


.task_box {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--yellow);
    margin-right: 20px;
}

.cursor-pointer {
    cursor: pointer;
}


/* News Section */

.News_main_section {
    padding-top: 20px;
}

.news_header_section {
    display: flex;
    width: 100%;
}

.news_header_section>h1 {
    width: 20%;
    text-align: center;
    font-size: 50px;
    color: var(--white);
}

.white_space {
    height: 250px;
    width: 40%;
    margin-left: 9% !important;
    background-color: var(--white);
    border: 3px solid var(--yellow);
    opacity: 0.5;
    border-radius: 5px;
}

.news_headline_div>h1 {
    text-align: center;
    color: var(--white);
    font-size: 40px;
    margin-top: 20px;
}

.headline_paragraph {
    width: 80%;
    margin: 0px auto;
}

.headline_paragraph>p {
    text-align: center;
    font-size: 20px;
    color: var(--white);
}

/* Sports section */
.Sports_main_section {
    padding-top: 20px;
}

.Sports_haeding {
    margin: 10px 50px;
}

.Sports_haeding>h1 {
    color: var(--white);
    font-size: 50px;
}

.team_name_section {
    text-align: center;
    font-size: 20px;
}

.Sport_input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--white);
    width: 400px;
    color: var(--white);
}

.Sport_input:focus {
    outline: none;
}

.Sport_input::placeholder {
    text-align: center;
    color: var(--white);
    font-size: 30px;
}

.Sport_input::selection {
    caret-color: var(--white);
    padding-left: 20px;
}

.teams {
    margin: 50px 125px;
}

.teams>ul {
    list-style: none;
    font-size: 25px;
    color: var(--white);
}

/* Task section */
.Task_main_section {
    padding-top: 20px;
}

.Task_haeding {
    margin: 10px 50px;
}

.Task_haeding>h1 {
    color: var(--white);
    font-size: 50px;
}

.task_main_input_div {
    text-align: center;
}

.input_div {
    display: block;
}

.Inputs_box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.task_input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--white);
    width: 49%;
    margin-right: 20px;
    font-size: 20px;
    color: var(--white);
}

.task_input {
    outline: none;
}

.task_input::placeholder {
    color: var(--white);
    font-size: 20px;
}

.check_box {
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--yellow);
    cursor: pointer;
}

.check_icon {
    position: absolute;
    background-color: var(--white);
    border-radius: 50px;
    top: -6%;
    right: -6%;
    width: 33px;
    height: 32px;
}

.check_icon>.fa-spin {
    font-size: 24px;
    text-align: center;
    margin: 3px;
}

.check_icon>Button {
    border: none;
    border-radius: 50px;
    background: transparent;
    margin: auto;
    width: 30px;
    height: 30px;
    padding: 1px;
}

.check_icon2 {
    font-size: 28px;
    margin: 7px;
}

.add_task_button {
    border: none;
    background-color: transparent;
    width: 27%;
    text-align: end !important;
    margin-bottom: 20px !important;
}

.add_task_button>img {
    cursor: pointer;
}

.add_task_button:focus {
    outline: none;
}

.add_task_button>img {
    width: 50px;
}

/* Form Styling */
/* 
.form_container {
    background-image: url(../src/assets/Images/Background.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
} */

.form_heading_div {
    text-align: center !important;
    padding-top: 3%;
}

.form_heading_div>h1 {
    color: var(--white) !important;
    font-size: 60px !important;
}

.inputs_container {
    width: 70% !important;
    display: flex !important;
    margin: auto;
}

.inputs_div {
    width: 60% !important;
    margin: 0 7% !important;
}

.inp {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid var(--white) !important;
    color: var(--white) !important;
    font-size: 20px !important;
}

.inp:focus {
    outline: none !important;
}

.inp::placeholder {
    color: var(--white) !important;
    font-size: 20px !important;
}

.password_inputs {
    margin-top: 20% !important;
}

.upload_image_div {
    text-align: center;
}

.ant-upload.ant-upload-select-picture-card {
    width: 200px !important;
    height: 115px !important;
    text-align: center !important;
    color: var(--white) !important;
    background-color: #6a7e9e !important;
    background: inherit;
    opacity: 0.5;
    border: 2px solid #ffe65e !important;
    border-radius: 5px !important;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 2% !important;
}

.ant-upload.ant-upload-select-picture-card>.ant-upload {
    color: var(--white) !important;
    font-size: 20px !important;
}

.btn_div {
    text-align: center !important;
    margin-top: 2% !important;
}

.btn {
    color: var(--white) !important;
    border-color: #ffe65e !important;
    background: #ffe65e !important;
    height: 50px !important;
    width: 200px !important;
    padding: 0 !important;
    border-radius: 30px !important;
    font-size: 20px !important;
}

.login_inputs {
    margin-top: 3% !important;
}

.login_btn {
    margin-top: 4% !important;
}

.new_sign_up {
    text-align: center;
    margin-top: 13% !important;
}

.new {
    color: var(--white) !important;
    font-size: 33px !important;
}

.sign_up {
    color: #ffe65e !important;
    font-size: 33px !important;
}

/* Photo Section */

.photo_main_div {
    text-align: center;
}

.upload_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.photo_h1 {
    font-size: 50px;
    color: var(--white);
}






.uploader_main {
    position: relative;
    border: 4px solid var(--yellow);
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 5px;
}

.upload_main_div {
    text-align: center;
    background-color: var(--backGroundLight);
    opacity: 0.5 !important;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    width: 100%;
    top: 0%;
}

.upload_main_div2 {
    padding: 0px !important;
}

.upload_plus_div {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 24%;
    opacity: 1;
}

.uploader_main>.upload_plus_div {
    top: 29% !important;
}

.uploader_main .icon-style {
    font-size: 92px !important;
}

.upload_plus_icon {
    height: 120px;
}

.upload_img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}


@media(max-width: 1200px) {
    .card {
        width: 45%;
    }
}

@media(max-width: 1000px) {
    /* .Swapnil_heading_div>h1 {
        font-size: 40px;
        margin-left: 20%;
        width: 100%;
    }
    .main_home_header{
        margin-bottom: 30px;
    } */
}

@media(max-width: 900px) {
    .inputs_container {
        width: 80% !important;
    }

    .form_heading_div {
        padding-top: 6% !important;
    }

    .home_logo>img {
        margin-left: 30px !important;
    }

    .white_space {
        width: 50% !important;
        margin-left: 5% !important;
    }

    .news_heading {
        font-size: 13px;
    }
}

@media(max-width: 800px) {
    .Home_card {
        width: 310px !important;
    }

    .Swapnil_heading_div>h1 {
        font-size: 40px !important;
        margin-top: 10px;
    }

    .white_space {
        margin-left: 3% !important;
    }

    .task_input {
        width: 60%;
    }
}

@media(max-width: 700px) {
    .inputs_container {
        width: 90% !important;
    }

    .form_heading_div {
        padding-top: 10% !important;
    }

    .Home_card {
        width: 280px !important;
    }

    .Swapnil_heading_div>h1 {
        font-size: 40px !important;
    }

    .home_logo>img {
        width: 120px !important;
    }

    .teams {
        margin: 48px 2%;
    }
}

@media(max-width: 600px) {
    .inputs_container {
        width: 100% !important;
    }

    .form_heading_div {
        padding-top: 13% !important;
    }

    .inputs_div {
        margin: 2% 6% !important;
    }

    .heading {
        font-size: 20px;
    }

    .form_heading_div>h1 {
        font-size: 50px !important;
    }

    .new_sign_up {
        margin-top: 15% !important;
    }

    .new,
    .sign_up {
        font-size: 28px !important;
    }

    .Home_card {
        width: 60% !important;
    }

    .Swapnil_heading_div>h1 {
        font-size: 30px !important;
        /* margin-left: 100px !important; */
    }

    .home_logo>img {
        width: 100px !important;
    }

    .logout_button {
        margin-top: -10px;
    }

    .news_header_section {
        display: block;
        width: 80%;
        margin: auto !important;
    }

    .white_space {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .news_header_section>h1 {
        text-align: center !important;
        width: 100% !important;
    }

    .add_task_button {
        width: 30% !important;
    }

    .Sports_haeding {
        margin: 5% auto !important;
        width: 20%;
    }
}

@media(max-width: 500px) {
    .inputs_container {
        display: block !important;
    }

    .inputs_div {
        margin: 0 auto !important;
        width: 70% !important;
    }

    .form_heading_div {
        padding-top: 15% !important;
    }

    .form_heading_div>h1 {
        font-size: 45px !important;
    }

    .password_inputs {
        margin: 0 !important;
    }

    .new_sign_up {
        margin-top: 20% !important;
    }

    .new,
    .sign_up {
        font-size: 22px !important;
    }

    .Home_card {
        width: 70% !important;
    }

    .main_home_header {}

    .logout_button {
        margin-top: -40px;
    }

    .Swapnil_heading_div>h1 {
        font-size: 45px !important;
        margin-left: 15px !important;
    }

    .home_logo>img {
        width: 130px !important;
    }

    .teams {
        margin: 48px 2%;
    }

    .task_input {
        width: 62% !important;
    }

    .add_task_button {
        width: 24% !important;
    }
}

@media(max-width: 400px) {
    .form_heading_div {
        padding-top: 18% !important;
    }

    .form_heading_div>h1 {
        font-size: 40px !important;
    }

    .ant-upload.ant-upload-select-picture-card {
        width: 150px !important;
        height: 90px !important;
        margin-top: 5% !important;
    }

    .btn {
        width: 150px !important;
        margin-top: 3% !important;
    }

    .form_heading_div>h1 {
        font-size: 35px !important;
    }

    .new_sign_up {
        margin-top: 25% !important;
    }

    .new,
    .sign_up {
        font-size: 18px !important;
    }

    .Home_card {
        width: 80% !important;
    }

    .Swapnil_heading_div>h1 {
        font-size: 35px !important;
        margin-left: 10px !important;
    }

    .home_logo>img {
        margin-left: 15px !important;
    }

    .home_logo>img {
        width: 110px !important;
    }

    .Sport_input {
        width: 300px !important;
    }

    .teams {
        margin: 48px 2%;
    }

    .Sports_haeding>h1 {
        font-size: 40px !important;
    }

}

@media(max-width: 300px) {
    .Sport_input {
        width: 250px !important;
    }
}

@media(max-width: 350px) {
    .Swapnil_heading_div>h1 {
        font-size: 30px !important;
    }

    .home_logo>img {
        width: 100px !important;
    }

    .teams {
        margin: 48px 1%;
    }
}